<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>jetlink.io</title>
</head>
<body>
    <h1>Live-Web Messaging Test Page</h1>
    
    <script type="text/javascript">
        var _j = document.createElement("script");
        _j.setAttribute("src", "https://public.jetlink.io/Sdk/Jetlink.js?j=" + new Date(Date()).getTime() / 1000);
        _j.onload = function () { 
            Jetlink.Options.Language = "en";

            var user = {
                SourceUserId: "3234234324324",
                Email: "testuser@jetlink.io",
                Phone: "+905321231212",
                Name: "Name here",
                Surname: "Surname here"
            };
            Jetlink.SetUser(user);

            Jetlink.Init("YOUR-APP-ID", "YOUR-APP-TOKEN"); 
        };
        document.head.appendChild(_j);
    </script>
</body>
</html>
